*{
  margin: 10px;
}
body {
  height: 1900px;
  background-color: white;
  background-size: auto;
  background-image: url(joe-woods-4Zaq5xY5M_c-unsplash.jpg);
}


.block_1{
position: relative;
width: 1900px;
height: 100px;
display: flex;
align-items: baseline;


}
.pos{
  position: absolute ;

  display: flex;
  font-family:'Courier New', Courier, monospace;
  gap: 10px;
  font-size: 80%;

}
#ul_row{
  display: flex;
  justify-content: space-between;    
  list-style-type: none;
  position: inherit;
  font-size: 150%;


}
.title {
  font-size: 100%;
  font-family:'Courier New', Courier, monospace;
  position: inherit;
  top: 20%;

  left: 40%;
}
.block_2 {
position: absolute;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 1900px;
height: 650px;

}
.img{
max-width: 200%;
max-height: 200%;
}
#email {
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 50px;
  width:  60%;
  height: 40%;
  padding: 15px;
  border-width: 1px;
}
#name {
  border-radius: 20px;
  margin-left: 100px;
  margin-bottom: 30px;
  width: 60%;
  height: 40%;
  padding: 15px;
  border-width: 1px;
}
#date {
  border-radius:20px;
  margin-left: 100px;
  margin-bottom: 20px;
  width: 30%px;
  height: 15%;
  padding: 15px;
  border-width: 1px;
}
#check {
  margin: 1px 90px;
  position: inherit ;
    top: 400px;
    left: 430px;
  }
  .button{
    position: relative;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 0.25em 0.75em;
    }
  }
    


#block_3{
  position:absolute ;
  font-family:'Courier New', Courier, monospace;
  top: 650px;

}
.block_4{
  font-family:'Courier New', Courier, monospace;
  position: absolute;
  top: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1900px;
  height: 500px;

}
.block_5{
  font-family:'Courier New', Courier, monospace;
  position:absolute ;
  top: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 500px;
}
#block_6{
  position: absolute;
  top: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}